@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../media/m31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.col-sm-4 {
    margin: 0 auto;
    font-family: 'Roboto';
    height: 52vh;
    border: 1px black;
    box-shadow: 10px 10px 60px rgba(129, 111, 124, .5);
}

.box {
    margin: 0 auto;
    font-family: 'Roboto';
    height: 135vh;
    border: 1px black;
    box-shadow: 10px 10px 60px rgba(129, 111, 124, .5);
}

.col-sm-4 h1 {
    font-size: 50px;
}

.btn-custom {
    background-color: beige;
}

form,
.btn-position {
    font-family: 'poppins';
}

::placeholder {
    font-size: 13px;
}

#bdate {
    font-size: 13px;
    color: #666;
}

textarea {
    width: 100%;
}