@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #FFFFFF;
    --text: #395C61;
    --border: #EDBC10;
    --inactive: #BDC1C1;
}

.navbar-collapse .navbar-nav .nav-item>.item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    color: var(--text);
}

.navbar-collapse .navbar-nav .nav-item>.nav-link {
    color: var(--inactive);
}

.navbar-collapse .navbar-nav .nav-item>.active {
    border-bottom: 3px solid var(--border);
    color: var(--border);
}

.nav-custom .navbar-nav .nav-item>.nav-link {
    color: var(--text);
}

.navbar-collapse .navbar-nav .nav-item>.nav-link:hover {
    color: #395C61;
}

.nav-custom .navbar-nav .nav-item>.nav-link:active {
    color: var(--border);
}

.container-fluid .btn-custom {
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: var(--text);
}

.navbar-brand img {
    width: 80%;
    height: 80%;
}

.btn-custom2 {
    /* height: 5em;
    width: 13em; */
    border-radius: 15px;
    border: 3px solid var(--border);
}

.container-fluid .btn-custom {
    border-radius: 15px;
}

.custom-card-container {
    padding: 0 10%;
}

.card {
    background: #FFFFFF;
    border: none;
    box-shadow: 13px 17px 24px rgba(232, 232, 250, 0.67);
    border-radius: 25px;
}

.card-title {
    color: var(--text);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4em;
}

.card-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: var(--text);
}