span.blue{
    background-color: aqua;
}

span.green{
    background-color: green;
}

header{
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

span.ungu{
    background-color: blueviolet;
}